<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/icon.ico">
    <title>Teleground</title>
    <link rel="stylesheet" href="/static/css/pico.grey.min.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/script.js" charset="utf-8" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
      <ul>
        <li><a href="/"><img src="/static/ico.png"></a></li>
      </ul>
      <ul>
        <li><a href="/chat">Chat Page</a></li>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
